<?xml version="1.0" encoding="utf-8"?>
<!--suppress XmlUnusedNamespaceDeclaration, AndroidUnknownAttribute -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.Gallery">

    <!--suppress AndroidUnknownAttribute -->
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"
            android:usesCleartextTraffic="true" />

    <!--suppress AndroidUnknownAttribute -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Gallery"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Gallery"
            android:name=".screens.GalleryApp"
            android:fullBackupContent="true">

        <activity android:name=".screens.home.HomeActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.search.SearchActivity" />
        <activity android:name=".screens.share.ShareActivity" />
        <activity android:name=".screens.notifications.NotificationsActivity" />
        <activity android:name=".screens.profile.ProfileActivity" />
        <activity android:name=".screens.editProfile.EditProfileActivity" />
        <!--suppress AndroidUnknownAttribute -->
        <activity
                android:name=".screens.login.LoginActivity"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
                android:name=".screens.register.RegisterActivity"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".screens.profileSettings.ProfileSettingsActivity" />
        <activity android:name=".screens.addUsers.AddUsersActivity" />
        <activity android:name=".screens.comments.CommentsActivity" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.Gallery.Fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>